@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.3s;
}

.container {
  color: white;
  background-color: lightcoral;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.box {
  height: 300px;
  width: 300px;
  background-color: #f79327;
  margin: 30px;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  border-radius: 30px;
}

.box:first-child {
  background-image: url("https://source.unsplash.com/random/900×700/?nature");
}

.box:nth-child(2) {
  background-image: url("https://source.unsplash.com/random/900×700/?mobile");
}

.box:nth-child(3) {
  background-image: url("https://source.unsplash.com/random/900×700/?car");
}

.box:nth-child(4) {
  background-image: url("https://source.unsplash.com/random/900×700/?food");
}

.box:nth-child(5) {
  background-image: url("https://source.unsplash.com/random/900×700/?bike");
}

.box:nth-child(6) {
    background-image: url("https://source.unsplash.com/random/900×700/?book");
  }

.box:nth-child(7) {
    background-image: url("https://source.unsplash.com/random/900×700/?birds");
  }

.box:nth-child(8) {
    background-image: url("https://source.unsplash.com/random/900×700/?smartwatch");
  }

.box:last-child {
  background-image: url("https://source.unsplash.com/random/900×700/?laptop");
}

.box:hover {
  transform: scale(120%) rotate(5deg);
  filter: grayscale(0%);
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: -4px -1px 64px -6px rgba(0, 0, 0, 0.75);
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
    background-color: lightgreen;
  }

  h1 {
    color: white;
  }

  .gallery {
    padding: 10px;
  }

  .box {
    margin: 15px;
  }
  .box:last-child{
    display: none;
  }
}